body{
    background-color: #EEEEEE;
    font-family: 'Montserrat', sans-serif;
    width: auto;
}

/**************************************************** TAMAÑO DE FUENTE Y ESTILOS*/

h1{    /****** TITULO PRINCIPAL DE CADA PAGINA*/
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    height: 50px;
    font-size: 60px;
}
h2{ /****** TITULO (EXPERIENCIA LABORAL) EN PAGINA "SOBRE MI"*/
    font-size: 46px;
    font-weight: 600;
}
h3{ /****** SUB-TITULO PRINCIPAL DE PAGINA "CONTACTO", NOMBRE DE EMPRESA CON AÑOS DE INICIO Y FIN*/
    text-align: left;
    font-weight: bolder;
    line-height: 52px;
    font-size: 33px;
}
h3 a{ /****** ENLACES EN SUB-TITULO DE PAGINA "CONTACTO"*/
    text-decoration: underline;
}
h4{ /****** NOMBRE DE CADA PROYECTO, NOMBRE DE (CATEGORIAS) EN PAGINA "SOBRE MI"*/
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
h5{ /****** SUB-TITULO PRINCIPAL DE CADA PAGINA*/
    font-size: 20px;
    color: rgb(45, 45, 45);
    line-height: 37px;
}

/**************************************************** MENÚ RESPONSIVO*/  

.nav-link{ /*----- MENÚ ----- */
    color: #4B4B4B;
    text-decoration: none;
    font-size: 19px;
    font-weight: 500;
    width: 300px;
    text-align: center;
}
.navbar-toggler-icon{
    border: 1px solid #4B4B4B !important;
    padding: 7px;
    width: 45px;
    height: 37px;
    border-radius: 3px;
}
.nav-link:hover{ /*----- MENÚ ----- */
    color: rgb(45, 45, 45);
    font-weight: bolder;
}

/**************************************************** FORMULARIO DE PAGINA "CONTACTO" */

.form-control {
    font-family: 'Montserrat', sans-serif;
    background-color: #EEEEEE;
    border-radius: 0%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #4B4B4B;
    font-weight: 500;
    }  

/**************************************************** BOTON POR DEFECTO EN TODAS LAS PAGINAS */   

.btn {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(45, 45, 45);
    color: white;
    border-radius: 0%;
    box-shadow: 10px 5px 5px grey; 
}
.btn:hover{
    background-color: rgb(110, 109, 109);
    color:white ;
}

/**************************************************** ESTILOS DE FOOTER SM */

footer{
    background-color: white;
}
footer i{
    font-size: 35px;
    width: 55px;
    border: 2px solid;
    border-radius: 50%;
    height: 55px;
    padding-top: 8px;
    padding-left: 0px;
    margin: 0px 15px;
}
a{
    color: rgb(45, 45, 45);
    font-weight: 700;
}

/**************************************************** ESTILOS PAGINA PROYECTO */   

#proyectos p{
    font-family: 'Montserrat', sans-serif;
    color: rgb(45, 45, 45);
    font-size: 17px;
}

/**************************************************** ESTILOS PAGINA SOBRE MI */  

.difuminado{
    background: linear-gradient(to right,white, white,#9fc4d67a,#9fc4d67a); /* difuminado, foto y subtitulo "sobre mi" */
}

img[alt="CV"] {
    /*aca iria el border radius */
    max-width: 80%;
    height: auto;
}
#fotocv{
    max-height: 80%; /*modifique el porcentaje */
}
.pastalinda{
    max-height: 180px;
}
#operario{
    font-style: oblique;
    margin-bottom: 0em;
    font-size: 19px !important;
}
.sobremi{
    min-height: 246px;
    box-shadow: 10px 5px 5px grey;  /* sombra para la informacion de "sobre mi" */
}
#experiencia{
    background-color: rgb(45, 45, 45);
    color: white;
}
#experiencia img{ /* imagen de experiencia */
    max-height: 50%;
    max-width: 70% !important;
}
#experiencia h3{
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
} 
#experiencia p{
    font-size: 17px;
}
section i{
    font-size: 40px;
    color: white;
    background-color: rgb(45, 45, 45);
}

/**************************************************** ESTILOS PAGINA INICIO */   

#inicio h1{
    font-size: 65px;
}
#inicio h5{
    font-size: 22px;
    position: relative;
    top: 1.5em;

}
/*imagen de fondo: pagina inicio*/
#home{ 
    background-repeat: repeat;
    background-size: 100%;
}

/**************************************************** PATROCINADO */ 

.pat-negro p{
    font-size: 21px !important;
}
.pat-negro a{
    font-size: 21px !important;
    font-weight: 600;
    text-decoration: underline;
}

/**************************************************** MEDIA QUERIES */   
@media (max-width: 400px) and (min-width: 300px)  {/*VISTA MOBILE (PARA CELULAR): CORRECCION DE ESPACIO DE SCROLL*/ 
    h1{ 
        font-size: 53px;/*IMPORTANTE PARA QUE EL NAV NO SE ACHIQUE */
        padding-top: 30px; 
    }
}

@media (max-width: 700px) { /*VISTA MOBILE (PARA CELULAR)*/ 
    #contacto h3{ /*ESTILOS DE CONTACTO */
        font-size: 26px ;
    }

    /******IMAGEN CV PAGINA "SOBRE MI" */

    img[alt=CV]{
        max-height: 100%;
    }
    .fotocv{
        max-width: 74%;
        height: auto;
    }

    /******ESTILOS DEL FOOTER */

    #footerpc{/*FOOTER PARA COMPUTADORAS*/
        display: none;
    }
    #footermb{/*FOOTER PARA CELULARES*/
        position: fixed;
        bottom: 0%;
        width: 100%;
    }
    footer i{
        border: none;
        font-size: 45px ;
    }
    .pat-blanco p {
        color: white !important;
        font-size: 21px !important;
    }
    .pat-blanco a{
        color: white !important;
        font-size: 21px !important;
        font-weight: 600;
        text-decoration: underline;
    }

    /******ESTILOS PARA EL MENU */

    .navbar{ 
       background-color: white;
    }
    .navbar-toggler{ 
        position: relative;
        left: 83%;
    }
    .nav-link{ 
        text-align: left;
        color: white;
    }
    .nav-item ,.nav-item.active{
        border-bottom: 1px solid ;
        color: white;
    }
    #menuresponsive{
        z-index: 1000;
        height: 100vh;
        color: white;
        background-color: #2D2D2D;
        width: 100%;
    }
    .nav-item.active{ 
        text-decoration: none; /*página activa sin hover: mobile*/
    }

    /******ESTILOS DE INICIO */
    
    #inicio h1 {
        font-size: 3em;
    }

    .proyecto{ /*cuadros con los proyectos */
        min-height: 10em;
    }
}

@media (min-width: 700px){
    #footermb{
        display: none;
    }
    .patrocinado{
        display: none;
    }
    .nav-item.active  { /*----- MENÚ ----- */
        color: rgb(45, 45, 45);
        text-decoration: underline;
        text-underline-position: under;
    }
    .navbar-expand-sm{ /*----- MENÚ ----- */
        width: 100%;
    }
    .proyecto{ /*cuadros con los proyectos */
        min-height: 30em;
    }
}